@model Maple2.AdminLTE.Bel.M_Machine

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>M_Machine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MachineCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MachineCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MachineName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MachineName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MachineProdType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MachineProdType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MachineSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MachineSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MachineRemark)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MachineRemark)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Is_Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Is_Active)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created_Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created_Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created_By)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created_By)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Updated_Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Updated_Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Updated_By)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Updated_By)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
